.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
} */

 @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  }
  
.grid{
  max-width: 450px;
  margin: auto;
  background: white;
  padding: 10px;
}
.grid-line{
  border: 2px solid  #f1f1f1;
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 10px;

}
.Box{
  background-color: #f1f1f1;
  width: 100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border:2px grey solid;
}

.grid-box{
  background-color: #f1f1f1;
  width: 100px;
  /* margin: 10px; */
  text-align: center;
  line-height: 81px;
  font-size: 30px;
  
}

.grid-box input{
  background-color: #f1f1f1;
  width: 100px;
  /* margin: 10px; */
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: none;
  border:2px grey solid;
 
}

.Box-row{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
}

